$enable-flex: true;
$grid-gutter-width: 0.5em;

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_reboot';
@import '~bootstrap/scss/_utilities';
@import '~bootstrap/scss/_grid';

html,
body {
  font-family: 'Hind', sans-serif;

  // Font Smoothing
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

  &.menu-open {
    overflow: hidden;
  }
}

*:focus:active {
  outline: 0;
}

img {
  height: auto;
  width: 100%;
}
